.font-thin {
  font-weight: 100;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 150%;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 150%;
}

.text-base {
  font-size: 1rem;
  line-height: 150%;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 150%;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 150%;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 150%;
}

.text-3xl {
  font-size: 1.75rem;
  line-height: 150%;
}

.text-4xl {
  font-size: 2.25rem; /* 36px */
  line-height: 150%; /* 40px */
}

.text-5xl {
  font-size: 3rem; /* 48px */
  line-height: 150%;
}

.text-6xl {
  font-size: 3.75rem; /* 60px */
  line-height: 150%;
}

.text-7xl {
  font-size: 4.5rem; /* 72px */
  line-height: 150%;
}

.text-8xl {
  font-size: 6rem; /* 96px */
  line-height: 150%;
}	

.text-9xl {
  font-size: 8rem; /* 128px */
  line-height: 150%;
}