@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
@import '../src/style/color.css';
@import '../src/style/font.css';
@import '../src/style/margin.css';

* {
  padding: 0;
  margin: 0;
}

:root {
  --color-black: #131415;
  --color-white: #ffffff;
  --color-blue: #5348ff;
  --z-index-navbar: 10;
  --z-index-sidebar: 6;
  --shadow-1: 0 1px 2px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06);
  --shadow-2: 0 3px 12px rgba(0, 0, 0, .07), 0 1px 4px rgba(0, 0, 0, .07);
  --shadow-3: 0 12px 32px rgba(0, 0, 0, .1), 0 2px 6px rgba(0, 0, 0, .08);
  --shadow-4: 0 14px 44px rgba(0, 0, 0, .12), 0 3px 9px rgba(0, 0, 0, .12);
  --shadow-5: 0 18px 56px rgba(0, 0, 0, .16), 0 4px 12px rgba(0, 0, 0, .16);
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
  margin-bottom: 0;
  color: var(--color-black);
  font-family: 'Inter', sans-serif;
}

a {
  color: var(--color-blue);
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}